{{extend 'layout.html'}}
<meta name="viewport" content="width=device-width, initial-scale=1">

{{include 'layout_add_L_menu_size.html'}}
<div class="row">
	<div class="col-9">{{=address}}</div>
	<div class="col-1">{{=m_dir}}</div>
	<div class="col-1">{{=upload}}</div>
	<div class="col-1">
		<a class="btn btn-primary" data-toggle="collapse" href="#collapse_setting" role="button" aria-expanded="false" aria-controls="collapse_setting">
		...
		</a>
	</div>
</div>
<div class="collapse" id="collapse_setting">
	{{=path}}
	<div class="row">	
		<div class="col-4">-</div>
	</div>
</div>

<div>
	<div id="layout_l" class="layout_l scroll" height="90%">
		{{=files}}
	</div>
	{{include 'x_frame_H.html'}}
	<!--
	<div id="layout_l" class="layout_l resizable" height="900px"> #to 020829
	<div  class="resizable" height="30vh">{=folders}</div>
	-->
</div>

   






