<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صورتجلسه</title>
    <script src="link_url/js-yaml.min.js"></script>
	<script src="link_url/vue.global.js"></script>
	<link rel="stylesheet" href="link_url/fonts_b.css">
	<link rel="stylesheet" href="link_url/aqrc-_mm.css">
	
	
</head>
<style>
body {
	font-family:BYekan;
}
</style>
<body >

    <div id="help_div"> 
		<input type="file" id="fileInput" />خواندن فایل YAML	
		<div id="out1"></div>
		<div id="out2"></div>
		<div id="out3"></div>
	</div>	
 
	
	<div id="app">
		<button id="bt_writetext" v-if="but_show" @click="writeText()">refresh</button>
 
<div id="body1">
<div>
<table class="tb_head">
	<tr><td><table ><tr>
		<td style="width:10%;"> 	<img class="arm_img"  src="link_url/arm-aqrc.gif"  alt="آرم مشاور قدس" /> 	</td>
		<td style="width:80%;"> 	
				<h6> بنام خداوند دانا و توانا </h6>
				<h1> صورتجلسه </h2>	
				<a href="link_server"><p class="riz">تهیه و تنظیم : مهندسان مشاور آستان قدس رضوی </p></a>
		</td>
		<td style="width:10%;"> 	<img class="arm_img"  src="link_url/arm-aqbb.gif"  alt="آرم بنیاد" /> 	</td> </td>
	</tr></table ></td></tr>
	<tr><td><table class="tbhd1"><tr>
		<td style="width:50%;"><b>	نام پروژه : </b>{{yml.prj_name }} 	 		 		</td>
		<td style="width:50%;"><b>	عنوان جلسه : </b>{{yml.name }} 	</td>
	</tr></table></td></tr>
	<tr><td><table class="tbhd1"><tr>
			<th style="width:20%;">محل</th>
			<th style="width:60%;">حاضران</th>
			<th style="width:20%;">غایبان</th>
		</tr>
		<tr v-for="pos in yml.pos">
			<td v-for="x in pos" height="30px">{{ x }} </td>
	</tr></table></td></tr>
	<tr><td><table class="tbhd1"><tr>
		<td style="width:16%;"><b> 	تاریخ : </b>{{yml.date }} </td>
		<td style="width:10%;"><b>	ساعت :	</b>{{yml.time_st }} </td>
		<td style="width:25%;"><b>	رئیس جلسه :	</b>{{yml.user_man }} </td>
		<td style="width:45%;"><b>	کد : </b><i class="en">{{yml.stn_code }}</i></td>
		<td style="width:5%;font-size:6px;" > 	رهگیری : {{yml.code }}</td>
	</tr></table></td></tr>
</table>
</div>

<h2 class="h_d">	خلاصه جلسه	</h2>
<BR> <p style="white-space: pre-line;direction:rtl;"><b> {{yml.abstr }} </b></p><BR>

<h2  class="h_d">	مصوبات جلسه	</h2>
<table class="tb_do">
	<tr>
		<th style="width:3%">ردیف</th>
		<th style="width:7%;">اعلام کننده</th>
		<th style="width:69%;">شرح موضوعات</th>
		<th style="width:7%;">اقدام کننده</th>
		<th style="width:7%;">پیگیری</th>
		<th style="width:7%;">زمان</th>
	</tr>
	      
	<tr v-if="yml.todo.length" v-for="(value ,index) in yml.todo">
		<td>{{ index+1 }} </td>
		<td v-for="x in value" style="white-space: pre-line">{{ x }}</td>
	</tr>
	<!-- اگر خالی باشد: فرم خالی برای چاپ -->
	<tr v-else v-for="n in 12">
        <td>{{n}}</td>
        <td v-for="m in 5" ></td>
	</tr>
</table>

<h2  class="h_d"> شرح مذاکرات </h2>
<table class="tb_do">
	<tr>
		<th style="width:3%">ردیف</th>
		<th style="width:7%;">اعلام کننده</th>
		<th style="width:90%;">شرح</th>
	</tr>
	<tr v-for="(value ,index) in yml.note">
		<td>{{ index+1 }} </td>
		<td v-for="x in value" style="white-space: pre-line">{{ x }} </td>
	</tr>
</table>

<h2  class="h_d"> فایلهای پیوست </h2>
<table class="tb_do">
	<tr>
		<th style="width:3%">ردیف</th>
		<th style="width:47%;">عنوان</th>
		<th style="width:25%;">فایل اصلی</th>
		<th style="width:25%;">PDF</th>
	</tr>
	<tr v-for="(value ,index) in yml.attch">
		<td>{{ index+1 }} </td>
		<td v-for="x in value" style="white-space: pre-line">{{ x }} </td>
	</tr>
</table>


</div>

	<!-- #################################################################  --> 
	</div>
	<script src="link_url/vu_inc_f.js"></script>
	<script >
	const app = Vue.createApp({
	data() {
		return {
			yml: {'date':'0000/00/00','time':'00:00',}//script_inject1
			,but_show :true
		}
	},
	methods: {
		writeText() {
		  this.yml = yaml;
		  this.but_show =false;
		}
	} 
})
  
app.mount('#app')
//script2_inject
</script>
</body>
</html>
<!-- script2 
	document.getElementById('help_div').style.display = "none"
	document.getElementById('bt_writetext').style.display = "none"
--> 