<link rel="stylesheet" href="{{=URL('static','clock/clock.css')}}">
<div class="clock-main">
	<div class="clock-container">
		<div class="clock-clock">

			<label style="--i: 1"><span>.</span></label>
			<label style="--i: 2"><span>.</span></label>
			<label style="--i: 3"><span>.</span></label>
			<label style="--i: 4"><span>.</span></label>
			<label style="--i: 5"><span>.</span></label>
			<label style="--i: 6"><span>|</span></label>
			<label style="--i: 7"><span>.</span></label>
			<label style="--i: 8"><span>.</span></label>
			<label style="--i: 9"><span>.</span></label>
			<label style="--i: 10"><span>.</span></label>
			<label style="--i: 11"><span>.</span></label>
			<label style="--i: 12"><span>|</span></label>
	
			<div class="clock-indicator">
				<span class="clock-hand clock-hour"></span>
				<span class="clock-hand clock-minute"></span>
				<span class="clock-hand clock-second"></span>
			</div>
		</div>
	</div>
</div>
<script src="{{=URL('static','clock/clock.js')}}"></script>
