<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.controller+"-"+request.function+":"+"|".join([str(x) for x in request.args]).lower()}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html request.application+-->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	-->
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}"/>
    
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
		
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
	<!-- ks -->	
		<link rel="stylesheet" href="{{=URL('static','css/fonts_b.css')}}"/>
		<link rel="stylesheet" href="{{=URL('static','css/ks.css')}}"/>
		<link rel="stylesheet" href="{{=URL('static','css/ks_swich.css')}}"/>
		<link rel="stylesheet" href="{{=URL('static','css/ks-x.css')}}"/>
		<script type="text/javascript" src="{{=URL('static','js/ks-form.js')}}"></script>
	<!-- ks-input-placeholder -->	
		<link rel="stylesheet" href="{{=URL('static','css/ks-input-placeholder.css')}}"/>
		<script type="text/javascript" src="{{=URL('static','js/ks-input-placeholder.js')}}"></script>	
	<!-- date piker fa -->
			<link type="text/css" href="{{=URL('static','js/datepicker/jquery-ui-1.8.14.css')}}"/>
			<link rel="stylesheet" href="{{=URL('static','js/datepicker/jquery-ui.css')}}/">
			<script type="text/javascript" src="{{=URL('static','js/datepicker/jquery-1.8.2.min.js')}}"></script>
			<script type="text/javascript" src="{{=URL('static','js/datepicker/jquery-ui.js')}}"></script>
			<script type="text/javascript" src="{{=URL('static','js/datepicker/jquery.ui.core.js')}}"></script>
			<script type="text/javascript" src="{{=URL('static','js/datepicker/jquery.ui.datepicker-cc.js')}}"></script>
			<script type="text/javascript" src="{{=URL('static','js/datepicker/calendar.js')}}"></script>
			<script type="text/javascript" src="{{=URL('static','js/datepicker/jquery.ui.datepicker-cc-ar.js')}}"></script>
			<script type="text/javascript" src="{{=URL('static','js/datepicker/jquery.ui.datepicker-cc-fa.js')}}"></script>
	<!-- /date piker fa -->
		<script type="text/javascript" src="{{=URL('static','js/jquery.tablesorter.js')}}"></script>
	<!-- /time piker 030320 https://timepicker.co/
		cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5  -->
		<link rel="stylesheet" href="{{=URL('static','timepicker/1.3.5/jquery.timepicker.min.css')}}"/>
		<script type="text/javascript" src="{{=URL('static','timepicker/1.3.5/jquery.timepicker.min.js')}}"></script> 
	<!-- /time piker 030320 https://github.com/dmuy/MDTimePicker/wiki/Usage#usable-built-in-methods  -->
		<link rel="stylesheet" href="{{=URL('static','timepicker/mdtimepicker.css')}}"/>
		<script type="text/javascript" src="{{=URL('static','timepicker/mdtimepicker.js')}}"></script> 
		
	<!-- select2 -->
		<link href="{{=URL('static','select2/select2-410-rc.min.css')}}" rel="stylesheet" />
		<script type="text/javascript" src="{{=URL('static','select2/select2-410-rc.min.js')}}"></script>
	<!-- /select2 -->
	<script type="text/javascript" >
			$(document).ready(function() {
				$('#xDATE1').datepicker({
					dateFormat: 'ymmdd',
					changeMonth: true,
					changeYear: true,
					maxDate: "+5y" ,
					onSelect: function(dateText, inst) {
						$('#xDATE2').datepicker('option', 'minDate', new JalaliDate(inst['selectedYear'], inst['selectedMonth'], inst['selectedDay']));
					}
				});
				$('#xDATE2').datepicker({
					dateFormat: 'ymmdd',
					changeMonth: true,
					changeYear: true,
					maxDate: "+5y" ,								
				});
				$('.fDATE').datepicker({
					dateFormat: 'yy/mm/dd',
					changeMonth: true,
					changeYear: true,
				});
				$('select').select2();
				$('select.can_add').select2({
					tags: true
					});
				$('table').tablesorter();
                
				$( "#j_box_light" ).draggable();
                $( ".resizable" ).resizable();
                $( ".sortable" ).sortable();
				//highlight_last_clicked
				$("a").on('click',  function(e) {
					$("td").removeClass('a-active');
					$(this).parent("td").addClass('a-active');
				});

				$('.timepicker_c').mdtimepicker({ //c=circel + click
					timeFormat: 'hh:mm', // format of the time value (data-time attribute)
					format: 'hh:mm',    // format of the input value
					readOnly: false,       // determines if input is readonly
					hourPadding: false,
					theme: 'blue',
					okLabel: 'تائید',
					cancelLabel: 'انصراف',
				});
				$('.timepicker_t').timepicker({ //t=text input base-$(this).maxtime
					timeFormat: 'HH:mm',
					dropdown:true,
					dynamic:false,
					//maxTime:$(this).attr("maxtime"),
					//alert('set')
					change: function(time) {
						v=$(this).attr("value")
						m=$(this).attr("maxtime")
						if (v>m) {
							alert('زمان وارد شده از زمان مجاز بیشتر است');
							$(this).attr("value",m);
						}
						//alert();
						//alert(window.myvar);
						//alert($(this).timepicker('timeFormat'));
						//alert(JSON.stringify(time.result));
						//alert(JSON.stringify($(this).parent()));
						//alert(JSON.stringify($(this)));
						//lert(event.target.getAttribute("maxTime"));
					}
				});
				$(".a_toggle_hide").click(); //hide all toggle that shoud be hide in first
 			}); 
	</script>
    <style>
    
    </style>
<!-- 
#
/ks 
-->	
	
	
	
	
    {{block head}}{{end}}
  </head>
  
  <body >
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
	<div style='text-align:center;height: 40px;'>
        <table id="table_header" width="100%"><tr>
			<td width="5%"></td>
            <td width="10%" class="align-text-top">
                <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                      <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              سیستم
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{{=URL('file','index')}}">اشتراک فایل</a>
                                <a class="dropdown-item" href="{{=URL('file','f_list',args=('lib'))}}">کتابخانه</a>
								<a class="dropdown-item" href="{{=URL('file','f_list',args=('prj'))}}">پروژه ها</a>
								<a class="dropdown-item" href="{{=URL('form','list_0')}}">مدیریت فرمها</a>
								<!-- 
								<a class="dropdown-item" href="{{=URL('file','index',args=('paper','pre'))}}">پیش نویس نامه </a>
								<a class="dropdown-item" href="{{=URL('xfile','read',
									args=('AQC0-SPX-A0-KM-RP-1001-1-021224-FORM-INTRO-media.mm'),
									vars={'xpath':'D:/ks/web2py/Applications/spks/help'}
									)}}">راهنما</a>
								-->
                                <a class="dropdown-item" href="{{=URL('data','index')}}">جداول اطلاعات</a>
								
								<a class="dropdown-item" href="http://192.168.80.133/spks/xfile/read/AQC0-SPX-A0-KM-RP-0000-masterlist.ksm?xpath=D:/ks/I/web2py/Applications/spks/help">راهنما</a>
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  ویرایشگر فارسی 
								</a> 
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="{{=URL('acpe','index')}}">NASKH+KATEB-ویرایشگر اتوکد</a>
									<a class="dropdown-item" href="{{=URL('acpe_ipt','index')}}">IPT-ویرایشگر اتوکد</a>
								</div>
                             </div>
                      </li>
                </ul>
            </td>
 
			<td width="15%"><div style="max-height:40px" class="overflow-hidden">
				<a class="btn btn-primary" href="{{=URL('file','index')}}" title="اشتراک فایل">S</a>
				<a class="btn btn-primary" href="{{=URL('file','f_list',args=('lib'))}}" title="کتابخانه">L</a>
				<a class="btn btn-primary" href="{{=URL('form','list_0')}}" title="مدیریت فرمها">F</a>
				<a class="btn btn-primary" href="{{=URL('data','index')}}" title="جداول اطلاعات">T</a>
			
			</div></td>
			{{import k_date}}
			<td width="15%" dir='rtl' class="align-text-top" style="max-height:40px"><div class="overflow-hidden" >{{=XML(k_date.site_time())}}</div></td>
            <td width="45%" dir='rtl' class="align-text-top">
				
					<a title='
					مجموعه سیستم های هوشمند و یکپارچه  مدیریت اسناد
					با عنوان اسپکس
										
					SPKS = Super Progress for Knowledge Science 
					
					- Last Version 2.01 = 1402/09/25
					- Programmer = Kurosh Saadati - 09377953310 - ksutility@gmail.com 
					- your ip={{=str(request.client)}}'>AQC</a>
					
					- مهندسان مشاور آستان قدس رضوی
				
					
				
			</td>
                <!-- Navbar ======================================= background-color:#aaaaff;
                  <nav class="navbar navbar-light navbar-expand-md bg-faded bg-dark navbar-dark justify-content-center">
                   <a href="http://web2py.com" class="navbar-brand d-flex w-50 mr-auto">web2py</a>
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="navbar-collapse collapse w-100" id="navbarNavDropdown">
                     <ul class="navbar-nav w-100 justify-content-center">
                      {{for _item in response.menu or []:}}
                      {{if len(_item)<4 or not _item[3]:}}
                      <li class="nav-item {{if _item[1]:}}active{{pass}}">
                        <a class="nav-link" href="{{=_item[2]}}">{{=_item[0]}}</a>
                      </li>
                      {{else:}}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{=_item[2]}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{=_item[0]}}</a>
                        <div class="dropdown-menu">
                          {{for _subitem in _item[3]:}}
                          <a class="dropdown-item" href="{{=_subitem[2]}}">{{=_subitem[0]}}</a>
                          {{pass}}
                        </div>
                      </li>
                      {{pass}}
                      {{pass}}
                    </ul>
                     <form class="form-inline my-2 my-lg-0">
                         <input class="form-control mr-sm-2" type="text" placeholder="Search">
                     </form>
                    {{if 'auth' in globals():}}
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          {{if auth.user:}}
                          <a class="dropdown-item" href="{{=URL('default','user/profile')}}">{{=T('Profile')}}</a>
                          {{if 'change_password' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a>
                          {{pass}}
                          <a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
                          {{else:}}
                          <a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}}</a>
                          {{if 'register' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
                          {{pass}}
                          {{if 'retrieve_password' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a>
                          {{pass}}
                          {{pass}}
                        </div>
                      </li>
                    </ul>
                    {{pass}}
                  </div>
                </nav>
                -->
            <td width="10%" class="align-text-top">
                <!-- ab
                  {{if 'auth' in globals():}}
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          {{if auth.user:}}
                          <a class="dropdown-item" href="{{=URL('default','user/profile')}}">{{=T('Profile')}}</a>
                          {{if 'change_password' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a>
                          {{pass}}
                          <a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
                          {{else:}}
                          <a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}}</a>
                          {{if 'register' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
                          {{pass}}
                          {{if 'retrieve_password' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a>
                          {{pass}}
                          {{pass}}
                        </div>
                      </li>
                    </ul>
                    {{pass}}
                    -->
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                      <li class="nav-item dropdown">
						{{if session["username"]:}}
							<a class="nav-link dropdown-toggle" href="#" title="{{=session["user_fullname"]}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{=session["username"]}}
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<form class="px-4 py-3">
									<div id="xxab" onclick='if (window.event.ctrlKey) {
									$.get("{{=URL('user','_toggle_ip_login_case')}}", function(data){ });
									$.get("{{=URL('user','set_ip_login_case')}}", function(data){ $("#xxab").html(data);});}'>
									تنظیم ورود اتوماتیک
									</div>
									<script>
									$( document ).ready(function() {
									$.get("{{=URL('user','set_ip_login_case')}}", function(data){ $("#xxab").html(data);});});
									</script>
									
								</form>
								<!--
								<div class="form-group">
										<label class="switch">
											<input type="checkbox">
											<span class="slider"></span>
										</label>
									</div>
								<a class="dropdown-item" href="javascript:void(0)" onclick='j_box_show("{{=URL('user','profile')}}",true);'>{{=T('Profile')}}</a>
								
								-->
								<a class="dropdown-item" href="javascript:void(0)" onclick='j_box_show("{{=URL('user','change_password')}}",true);' >تغییر رمز</a>
								<a class="dropdown-item" href="javascript:void(0)" onclick='j_box_show("{{=URL('user','logout')}}",true);'>خروج</a>
							</div>
						{{else:}}
							<a class="nav-link" href="javascript:void(0)" onclick='j_box_show("{{=URL('user','login')}}",true);'>ورود</a>
						{{pass}}
                      </li>
                    </ul>
                    <!-- ab
                    {{if session["username"]:}}
                        <a href="{{=URL('user','logout')}}"> {{=session["username"]}} </a> 
                    {{else:}}
                        <a href="{{=URL('user','login')}}"> Login </a> 
                    {{pass}}
                    -->
              <!--
			  </td>

			   -->
              </tr>
          </table>
	  </div>
    <!-- Masthead ===================================== 
    <div class="sortable">
         </div>  
    -->
    {{block header}}
    {{end}}
    <div dir='rtl'> <!--class="container-fluid main-container"> -->
    
    <!-- Main ========================================= -->
    
    <!-- Begin page content -->
  
      {{include}}
      {{=response.toolbar() if response.show_toolbar else ''}}

     </div>
    {{block footer}} <!-- this is default footer -->
	
	<!-- footer
    <footer class="footer container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright pull-left">{{=request.now.year}}</div>
          <div id="poweredBy" class="pull-right">
            <a title='SPKS'>Powered by : Kurosh Saadati </a>
          </div>
        </div>
      </div>
    </footer>
	-->
    {{end}}
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap4.js')}}"></script>
    {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}
	
	{{include 'layout_add_j_box.html'}}
	
  </body>
</html>

