<style>
<!--
/* -----------------------------------------------------------------------------	
	<j_box>	
	for 2 div in each page */
	.j_box_white_content  => overflow: auto;
-->		
    .j_box_black_overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 98%;
        height: 100%;
        background-color: #555555;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .j_box_white_content {
        display: none;
        position: fixed;
        padding: 3px;
        border: 5px solid orange;
        background-color: white;
        z-index:1002;
		overflow: auto;
        
	.j_box_white_content_1 {
        display: none;
        position: fixed;
        top: 15%;
        left: 15%;
        width: 70%;
        height: 70%;
        padding: 15px;
        border: 15px solid orange;
        background-color: white;
        z-index:1002;
        overflow: auto;	
    }
.header {
	position: sticky;
	width: 100%;
	z-index: 1005;
	top: 0;
	left: 0;
	background-color: white;
}
.hh1:{
	height:20px;
	}
<!--	
/* </j_box > ###################################################################*/	
/* -----------------------------------------------------------------------------resizable
-->
</style>
<!--j_box -->	
<div id="output">
	<div id="j_box_light" class="j_box_white_content " onkeydown="key_x(event);"> 
		<div class="header">
			<a href = "javascript:void(0)" title = "Close" class = "btn btn-danger" onclick = "j_box_hide()" >X</a> - 
			<a href = "javascript:void(0)" title = "set win size to 50%" class = "btn btn-primary" onclick = "win_set_size50()">50%</a>
			<a href = "javascript:void(0)" title = "set win size to 75%" class = "btn btn-primary hh1" onclick = "win_set_size75()">75%</a>
			<a href = "javascript:void(0)" title = "set win size to 90%" class = "btn btn-xs btn-primary" onclick = "win_set_size('90')">90%</a>
			<a href = "javascript:void(0)" title = "set win size to 100%" class = "btn btn-primary" onclick = "win_set_size100()">100%</a>
		</div>
		
		<div id="j_box_subwin1_body" style="height:100%;">
		<!-- subwin1_body --> 
			<iframe id="j_box_iframe_win" src="" width="100%" height="100%">	<p>Your browser does not support iframes.</p></iframe> 
		</div>
	</div>
	<div id="j_box_fade" class="j_box_black_overlay"></div>
</div>
<!--/j_box -->
<script>
	$('#j_box_iframe_win').load(function(){
	iframe_html = document.getElementById('j_box_iframe_win').contentWindow.document.body.innerHTML;
	//x=$('#j_box_iframe_win').contents();
	
	if ((iframe_html.length<50) && (iframe_html.includes("j_box_iframe_win_close"))){
		//alert(iframe_html);
		iframe_html='';
		//alert("ok");
		j_box_hide();}
	//.contents().find('body').on('DOMSubtreeModified', function(){
    //alert("iframe-change-path => "+$("#j_box_iframe_win").attr('src'));
	//alert(iframe_html.length);
	});
	
	let x_reload
	let x_ajax_do
	let x_ajax_val_set
	function j_box_show1(path) {
		document.getElementById('j_box_light').style.display='block';
		document.getElementById('j_box_fade').style.display='block'; 
		$('#j_box_subwin1_body').load( path ); 
		//alert ( path );
		//------ goto the url In cur page 
		//window.location.href = path
		//------ open new page
		//window.open ( path );
		//
	}
	function j_box_show_test(path) {
		document.getElementById('j_box_light').style.display='block';
		document.getElementById('j_box_fade').style.display='block'; 
		//$('#j_box_subwin1_body').load( path ); 
		//alert ( path );
		//------ goto the url In cur page 
		//window.location.href = path
		//------ open new page
		window.open ( path );
		//
	}
	function j_box_hide() {
		document.getElementById('j_box_light').style.display='none';
		document.getElementById('j_box_fade').style.display='none';
		if (x_reload) {
			location.reload(true);
			//location.href=location.href;
		}
		if (x_ajax_do!='') {
			let x = x_ajax_do;
			ajax(x['url'], x['names'], x['target'], x['options'])
		}
		console.log('x_ajax_val_set= ::'+x_ajax_val_set);
		if (x_ajax_val_set!=''){
			console.log('x_ajax_val_set='+x_ajax_val_set);
			const x_sets = x_ajax_val_set.split(";");
			console.log('x_sets='+x_sets);
			for (let i_set in x_sets) {
				x_set=x_sets[i_set]
				console.log('x_set='+x_set);
				const ov=x_set.split(",");
				url="{{=URL('form','get_session')}}"+"/"+ov[1]
				ajax(url, [], ov[0]);
				console.log('url='+url);
			}
			
		}
	}
	//iframe
	function j_box_show(path,reload=false,ajax_do='',ajax_val_set='') {
		let f_loc=window.location.href;
		
		x_reload=reload  //reload page when hide jbox
		x_ajax_do=ajax_do //
		x_ajax_val_set=ajax_val_set // set html.objs.value by session value : text_list  of obj_id,value_name seperat by ; tehn by ,
		// sample = 'obj_id1,value_name1;obj_id2,value_name2;...'
		//alert('x_ajax_val_set='+x_ajax_val_set);
		//alert('path='+path);
		document.getElementById('j_box_light').style.display='block';
		document.getElementById('j_box_fade').style.display='block'; 
		var $iframe = $('#j_box_iframe_win');
		
		let is_offline=String(f_loc).includes("file://");
		if (is_offline) {
			if (!window.event.ctrlKey) {
				pp=path.split("/");
				path="link\\"+pp[pp.length - 1];
			} else {
				path="http://192.168.88.179"+path;
			}
			//alert(path);
		}
		if ( $iframe.length ) {
			$iframe.attr('src',path);
		}
		win_set_size('90');
	}
	function win_set_size(prsent) {
		xs=document.getElementById('j_box_light').style
		if (prsent=='100'){
			xs.width='100%';
			xs.height='100%';
			xs.left='0%';
			xs.top='0%';
		} else if (prsent=="90") {
			xs.width='90%';
			xs.height='90%';
			xs.left='5%';
			xs.top='5%';
		} else if (prsent=="75") {
			xs.width='75%';
			xs.height='75%';
			xs.left='12%';
			xs.top='12%';
		} else if (prsent=="50") {
			xs.width='50%';
			xs.height='50%';
			xs.left='25%';
			xs.top='25%';
		}
		document.getElementById('j_box_light').focus();
		document.getElementById('j_box_light').click();
	}
	function win_set_size100() {
		xs=document.getElementById('j_box_light').style
		xs.width='100%';
		xs.height='100%';
		xs.left='0%';
		xs.top='0%';
		document.getElementById('j_box_light').focus();
		document.getElementById('j_box_light').click();
	}
	function win_set_size75() {
		xs=document.getElementById('j_box_light').style
		xs.width='75%';
		xs.height='75%';
		xs.left='12%';
		xs.top='12%';
		document.getElementById('j_box_light').focus();
		document.getElementById('j_box_light').click();
	}
	function win_set_size50() {
		xs=document.getElementById('j_box_light').style
		xs.width='50%';
		xs.height='50%';
		xs.left='25%';
		xs.top='25%';
		document.getElementById('j_box_light').focus();
		document.getElementById('j_box_light').click();
	}
	function key_x(event) {a=1; }
	/*
		alert("key_x");
		var x = event.keyCode;
		if (x == 27) { j_box_hide();} //esc
		if (x == 119) { win_set_size50();} //f8
		if (x == 120) { win_set_size75();} //f9
		if (x == 121) { win_set_size100();} //f10
	}
	*/
	// افزودن رویداد keydown به document
	document.addEventListener('keydown', function(event) {
		// دریافت کلید فشرده شده
		//const key = event.key;
		var x = event.keyCode;
		if (x == 27) { j_box_hide();} //esc
		if (event.ctrlKey){ //altKey) {
			if (x == 49) { win_set_size50();} //1
			if (x == 50) { win_set_size75();} //2
			if (x == 51) { win_set_size('90');} //3
			if (x == 52) { win_set_size100();} //4
		} 
		// تغییر رنگ متن بر اساس کلید فشرده شده (اختیاری)
		//if (key === 'Enter') { output.style.color = 'green'; }
		//if (key === 'Escape') { j_box_hide(); }
		
	});
	//
	//document.addEventListener('keydown', (event) => {alert("27");})
</script>
