<style>
<!--
/* -----------------------------------------------------------------------------	
	<j_box>	
	for 2 div in each page */
-->		
    .j_box_black_overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #555555;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .j_box_white_content {
        display: none;
        position: fixed;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        border: 16px solid orange;
        background-color: white;
        z-index:1002;
        overflow: auto;
	.j_box_white_content_1 {
        display: none;
        position: fixed;
        top: 15%;
        left: 15%;
        width: 70%;
        height: 70%;
        padding: 15px;
        border: 15px solid orange;
        background-color: white;
        z-index:1002;
        overflow: auto;	
    }
<!--	
/* </j_box > ###################################################################*/	
/* -----------------------------------------------------------------------------
-->
</style>
<!--j_box -->	
	<div id="j_box_light" class="j_box_white_content resizable" onkeydown="key_x(event);"> 
		<a href = "javascript:void(0)" title = "Close" class = "btn btn-danger" onclick = "j_box_hide()" >X</a> - 
		<a href = "javascript:void(0)" title = "set win size to 50%" class = "btn btn-primary" onclick = "win_set_size50()">50%</a>
		<a href = "javascript:void(0)" title = "set win size to 75%" class = "btn btn-primary" onclick = "win_set_size75()">75%</a>
		<a href = "javascript:void(0)" title = "set win size to 100%" class = "btn btn-primary" onclick = "win_set_size100()">100%</a>
		<div id="j_box_subwin1_body" style="height:100%;">
		<!-- subwin1_body --> 
			<iframe id="j_box_iframe_win" src="" width="100%" height="100%">	<p>Your browser does not support iframes.</p></iframe> 
		</div>
	</div>
	<div id="j_box_fade" class="j_box_black_overlay"></div>
<!--/j_box -->
<script>
	$('#j_box_iframe_win').load(function(){
	iframe_html = document.getElementById('j_box_iframe_win').contentWindow.document.body.innerHTML;
	//x=$('#j_box_iframe_win').contents();
	
	if ((iframe_html.length<50) && (iframe_html.includes("j_box_iframe_win_close"))){
		//alert(iframe_html);
		iframe_html='';
		//alert("ok");
		j_box_hide();}
	//.contents().find('body').on('DOMSubtreeModified', function(){
    //alert("iframe-change-path => "+$("#j_box_iframe_win").attr('src'));
	//alert(iframe_html.length);
	});
	
	let x_reload
	function j_box_show1(path) {
		document.getElementById('j_box_light').style.display='block';
		document.getElementById('j_box_fade').style.display='block'; 
		$('#j_box_subwin1_body').load( path ); 
		//alert ( path );
		//------ goto the url In cur page 
		//window.location.href = path
		//------ open new page
		//window.open ( path );
		//
	}
	function j_box_show_test(path) {
		document.getElementById('j_box_light').style.display='block';
		document.getElementById('j_box_fade').style.display='block'; 
		//$('#j_box_subwin1_body').load( path ); 
		//alert ( path );
		//------ goto the url In cur page 
		//window.location.href = path
		//------ open new page
		window.open ( path );
		//
	}
	function j_box_hide() {
		document.getElementById('j_box_light').style.display='none';
		document.getElementById('j_box_fade').style.display='none';
		if (x_reload) {
			location.reload(true);
			//location.href=location.href;
			}
	}
	//iframe
	function j_box_show(path,reload=false) {
		let f_loc=window.location.href;
		
		x_reload=reload  //reload page when hide jbox
		document.getElementById('j_box_light').style.display='block';
		document.getElementById('j_box_fade').style.display='block'; 
		var $iframe = $('#j_box_iframe_win');
		
		let is_offline=String(f_loc).includes("file://");
		if (is_offline) {
			if (!window.event.ctrlKey) {
				pp=path.split("/");
				path="link\\"+pp[pp.length - 1];
			} else {
				path="http://192.168.88.179"+path;
			}
			//alert(path);
		}
		if ( $iframe.length ) {
			$iframe.attr('src',path);
		}
		win_set_size75();
	}
	function win_set_size100() {
		xs=document.getElementById('j_box_light').style
		xs.width='100%';
		xs.height='100%';
		xs.left='0%';
		xs.top='0%';
		document.getElementById('j_box_light').focus();
		document.getElementById('j_box_light').click();
	}
	function win_set_size75() {
		xs=document.getElementById('j_box_light').style
		xs.width='75%';
		xs.height='75%';
		xs.left='12%';
		xs.top='12%';
		document.getElementById('j_box_light').focus();
		document.getElementById('j_box_light').click();
	}
	function win_set_size50() {
		xs=document.getElementById('j_box_light').style
		xs.width='50%';
		xs.height='50%';
		xs.left='25%';
		xs.top='25%';
		document.getElementById('j_box_light').focus();
		document.getElementById('j_box_light').click();
	}
	function key_x(event) {
		var x = event.keyCode;
		if (x == 27) { j_box_hide();} //esc
		if (x == 119) { win_set_size50();} //f8
		if (x == 120) { win_set_size75();} //f9
		if (x == 121) { win_set_size100();} //f10
	}
	
	//
	//document.addEventListener('keydown', (event) => {alert("27");})
</script>
