<style>
#navbar {
  z-index: 1000;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f00;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
#table_header {
	width:100%;
	background-color: #1a174a;
}
#table_header td{
	border: 0px;
	padding:0px;
	border-spacing: 0px;
	height:60px;
	max-height:60px;
	color:#fff;
}

.x_btn { color: #fff;}
.x_btn:hover { color: #0ff; }

.x_btn2 { color: #1a174a;}
.x_btn:hover { color: #0ff; }

@media screen and (max-width: 800px) {
	.menu_hide_800 {
	display:none;
	}
}
</style>
	
	
<div id="navbar_" style='text-align:center;height: 40px;'>
        <table id="table_header" width="100%"><tr>
			{{import k_icon}}
			<td width="3%"></td>
			
            <td width="7%" >
                <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                      <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle x_btn" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              سیستم
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="{{=URL('form','list_0')}}">مدیریت فرمها {{=XML(k_icon.house_fill(16))}}</a>
                                <a class="dropdown-item" href="{{=URL('file','index',port=80)}}">اشتراک فایل</a>
                                <a class="dropdown-item" href="{{=URL('file','f_list',args=('lib'),port=80)}}">کتابخانه</a>
								<a class="dropdown-item" href="{{=URL('file','f_list',args=('prj'))}}">اسناد - پروژه ها و فرایندها</a>
								<!-- 
								<a class="dropdown-item" href="{{=URL('file','index',args=('paper','pre'))}}">پیش نویس نامه </a>
								<a class="dropdown-item" href="{{=URL('xfile','read',
									args=('AQC0-SPX-A0-KM-RP-1001-1-021224-FORM-INTRO-media.mm'),
									vars={'xpath':'D:/ks/web2py/Applications/spks/help'}
									)}}">راهنما</a>
								-->
                                <a class="dropdown-item" href="{{=URL('data','index')}}">جداول اطلاعات</a>
								
								<a class="dropdown-item" href="/spks/xfile/read/AQC0-SPX-A0-KM-RP-0000-masterlist.ksm?xpath=D:/ks/I/web2py/Applications/spks/help">راهنما</a>
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  ویرایشگر فارسی 
								</a> 
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="{{=URL('acpe','index')}}">NASKH+KATEB-ویرایشگر اتوکد</a>
									<a class="dropdown-item" href="{{=URL('acpe_ipt','index')}}">IPT-ویرایشگر اتوکد</a>
								</div>
                             
                      </li>
                </ul>
				</div>
            </td>
			
			<td width="20%" class="head-cell"><div class="head-cell">
				<a class="btn x_btn" href="{{=URL('form','list_0')}}" title="مدیریت فرمها">{{=XML(k_icon.house_fill(24))}}</a>
				<a class="btn x_btn" href="{{=URL('file','index',port=80)}}" title="اشتراک فایل">{{=XML(k_icon.share_fill(20))}}</a>
				<a class="btn x_btn" href="{{=URL('file','f_list',args=('lib'),port=80)}}" title="کتابخانه">{{=XML(k_icon.book(20))}}</a>
				<a class="btn x_btn" href="{{=URL('file','f_list',args=('prj'))}}" title="اسناد - پروژه ها و فرایندها">{{=XML(k_icon.folder2_open(20))}}</a>
				<!-- 
				<a class="btn x_btn" href="{{=URL('data','index')}}" title="جداول اطلاعات">T</a>
				-->
				</div>
			</td>
			

			<td width="10%"></td>
            <td width="20%" class="menu_hide_800" dir='rtl' class="head-cell">
					<a title='
				اسپکس : 
					اهداف گام 1 :
						استقرار سامانه پویای کنترل سوابق
						-----------------------------
						استقرار :
							- ایجاد 
							-  ایمن‌سازی
							- پایدار سازی 
							- قابل اعتماد سازی
							- بارگذاری
							- ایجاد ارتباطات مناسب
							- منعطف سازی
							- به‌روزرسانی و اصلاح
							- پشتیبانی
							- توسعه
						سامانه  : 
							مجموعه سیستم های هوشمند و یکپارچه 
						پویا : 
							هماهنگ با هدف بهبود کیفیت
							به عنوان نشانه اصلی سیستم مدیریت کیفیت
						کنترل سوابق :
							هدف اصلی واحد DCC
					----------------------------------
					شعار :
						امنیت، سرعت، پیشرفت، کیفیت، سادگی
					----------------------------------
					چشم انداز :
					SPKS = Super Progress for Knowledge Science 
					----------------------------------
					مفهوم مستتر : 
						رقابت با الگوی توسعه دانش در SPACE X
					---------------------------------- 
					
					- Last Version 3.01 = 1403/10/15
					- Programmer = Kurosh Saadati - 09377953310 - ksutility@gmail.com 
					- your ip={{=str(request.client)}}'>
					<img height=60px  src="{{=URL('static','com/GOD-AQRC.png')}}"  alt="AQR Consultant-مهندسان مشاور آستان قدس رضوی"  />
					</a>
					
			</td>
                <!-- Navbar ======================================= background-color:#aaaaff; <div style="max-height:40px" class="div-head-cell">
                  <nav class="navbar navbar-light navbar-expand-md bg-faded bg-dark navbar-dark justify-content-center">
                   <a href="http://web2py.com" class="navbar-brand d-flex w-50 mr-auto">web2py</a>
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="navbar-collapse collapse w-100" id="navbarNavDropdown">
                     <ul class="navbar-nav w-100 justify-content-center">
                      {{for _item in response.menu or []:}}
                      {{if len(_item)<4 or not _item[3]:}}
                      <li class="nav-item {{if _item[1]:}}active{{pass}}">
                        <a class="nav-link" href="{{=_item[2]}}">{{=_item[0]}}</a>
                      </li>
                      {{else:}}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{=_item[2]}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{=_item[0]}}</a>
                        <div class="dropdown-menu">
                          {{for _subitem in _item[3]:}}
                          <a class="dropdown-item" href="{{=_subitem[2]}}">{{=_subitem[0]}}</a>
                          {{pass}}
                        </div>
                      </li>
                      {{pass}}
                      {{pass}}
                    </ul>
                     <form class="form-inline my-2 my-lg-0">
                         <input class="form-control mr-sm-2" type="text" placeholder="Search">
                     </form>
                    {{if 'auth' in globals():}}
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          {{if auth.user:}}
                          <a class="dropdown-item" href="{{=URL('default','user/profile')}}">{{=T('Profile')}}</a>
                          {{if 'change_password' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a>
                          {{pass}}
                          <a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
                          {{else:}}
                          <a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}}</a>
                          {{if 'register' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
                          {{pass}}
                          {{if 'retrieve_password' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a>
                          {{pass}}
                          {{pass}}
                        </div>
                      </li>
                    </ul>
                    {{pass}}
                  </div>
                </nav>
                -->
			<td width="15%"></td>
			
            <td width="5%">
                <!-- ab
                  {{if 'auth' in globals():}}
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          {{if auth.user:}}
                          <a class="dropdown-item" href="{{=URL('default','user/profile')}}">{{=T('Profile')}}</a>
                          {{if 'change_password' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a>
                          {{pass}}
                          <a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
                          {{else:}}
                          <a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}}</a>
                          {{if 'register' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
                          {{pass}}
                          {{if 'retrieve_password' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a>
                          {{pass}}
                          {{pass}}
                        </div>
                      </li>
                    </ul>
                    {{pass}}
                    -->
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                      <li class="nav-item dropdown">
						{{if session["username"]:}}
							<a class="nav-link dropdown-toggle x_btn" href="#" title="{{=session["user_fullname"]}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{=session["username"]}}
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<form class="px-4 py-3">
									<div id="xxab" onclick=' if (window.event.ctrlKey) {
									$.get("{{=URL('user','_toggle_ip_login_case')}}", function(data){ });
									$.get("{{=URL('user','set_ip_login_case')}}", function(data){ $("#xxab").html(data);});} '>
									تنظیم ورود اتوماتیک
									</div>
									<script>
									$( document ).ready(function() {
										$.get("{{=URL('user','set_ip_login_case')}}", function(data){ $("#xxab").html(data);});
										});
									</script>
									
								</form>
								<!--
								<div class="form-group">
										<label class="switch">
											<input type="checkbox">
											<span class="slider"></span>
										</label>
									</div>
								<a class="dropdown-item" href="javascript:void(0)" onclick='j_box_show("{{=URL('user','profile')}}",true);'>{{=T('Profile')}}</a>
								
								-->
								<a class="dropdown-item btn btn-primary" href="javascript:void(0)" onclick='j_box_show("{{=URL('user','pass_is_safe')}}",true);' > اینترنت ؟</a>
								<a class="dropdown-item btn btn-primary" href="javascript:void(0)" onclick='j_box_show("{{=URL('user','change_password')}}",true);' >تغییر رمز</a>
								<a class="dropdown-item btn btn-primary" href="javascript:void(0)" onclick='j_box_show("{{=URL('user','logout')}}",true);'>خروج</a>
							</div>
						{{else:}}
							<a class="nav-link" href="javascript:void(0)" onclick='j_box_show("{{=URL('user','login')}}",true);'>ورود</a>
						{{pass}}
                      </li>
                    </ul>
                    <!-- ab
                    {{if session["username"]:}}
                        <a href="{{=URL('user','logout')}}"> {{=session["username"]}} </a> 
                    {{else:}}
                        <a href="{{=URL('user','login')}}"> Login </a> 
                    {{pass}}
                    -->
              <!--  بنام خداوند دانا و توانا -->
			</td>
			<td width="5%" dir='rtl' class="head-cell"><div style="position: relative;right:10px;scale:0.7;">{{include 'clock.html'}}</div></td>		
			<td width="10%" dir='rtl' class="head-cell"> <div class="head-cell " style="background-color:#fff;border-radius: 25px;padding:2px 4px 0px 4px">
				{{import k_date}}
				{{=XML(k_date.site_time())}}</div>
			</td>
			
			<td width="5%">
				<img height=60px  src="{{=URL('static','com/AQRC-CG0-LOGO-01.png')}}"  title="AQR Consultant-مهندسان مشاور آستان قدس رضوی"  />
			</td>
			 
		</tr>
		</table>
		  
	  </div>