<!--
	update=020829
	help = 
		این فایل پنجره سمت راست در صفحه 
		f_list 
		و صفحات مشابه را جهت بار گزاری  و باز کردن یک صفحه وب به صورت مستقیم و داخل صفحه اصلی فراهم می کند
-->	 
		<div id="layout_r" class="layout_r " id="frame_holder" name="frame_holder">
				<iframe id="x_frame" name="x_frame" src="" title="x_frame" width="100%" height="100%"></iframe>
				<!--
				<div id="layout_r" class="layout_r resizable" id="frame_holder" name="frame_holder" height="900px"># to 020829
				<div id="wrap_x_frame" class="resizable" width="100%" height="100%">
				</div>
				-->	
        </div>
