{{extend 'layout.html'}}
<meta name="viewport" content="width=device-width, initial-scale=1">
{{include 'layout_add_L_menu_size.html'}}
<div>
	<div class="layout_l" class="layout_l resizable" height="900px">
		<div dir='rtl' style='text-align:center;  background-color:#ffffff ;padding: 0px;margin:0px; '>
			<h6>سیستم اشتراک فایل</h6>
			<div style='font-size=5px'>توجه : لطفا پس از هر تغییر ( پاک کردن یا اضافه کردن فایل جدید) دکمه F5 را بزنید</div>
		</div>
		{{=upload1}}
		<div>{{=files}}</div>
	</div>	
	{{include 'x_frame_h.html'}}
	{{include 'layout_add_j_box.html'}}
</div>
