{{extend 'layout_sd.html'}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<style>

			[data-tab-info] {display: none;}
			.active[data-tab-info] { display: block;}
	 

	 

	 

	</style>
	<title>{{=file_inf['name']}}</title>
</head>
	<script type="text/javascript" src="{URL('static','js/datepicker/jquery-1.8.2.min.js')}"></script> 
 
	<script> 
        function text_changed() {
                $("#save_but").css("background-color","red");
                $("#save_chek").val("1")
                $("#save_but").show();
                $("#view_but").hide();
        }
        $(document).ready(function(){
            $("#save_but").hide()
            var textarea = document.getElementById('file_txt');
            var tt = document.getElementById('textarea_top');
            textarea.scrollTop = tt.value;
        });
	</script>



<form action="#" enctype="multipart/form-data" method="post">


<!-- Tabs Detail -->
<div  class="row tabs">
	<div class="col-5"><!-- menu -->
		
		<a id='view_but' href= {{=URL('read_xx',args=request.args,vars=x_vars)}}>view</a> | 
		<a title={{=f_name}}> {{=file_inf['name']}}.{{=file_inf['ext']}} </a><!-- file_name -->  |  
		{{=encode_n}}
		{{=lines_num}}
		<button onclick="modifySelection()">*</button>
		<input type='hidden' name='textarea_top' id='textarea_top' onchange='file_txt.scrollTop=textarea_top.value;' value='{{=request.vars['textarea_top']}}'>
		<input type='hidden' name='save_chek' id='save_chek' >

	</div>
	<div class="col-4">
		<INPUT type='submit' name="save_but" id="save_but" value="Save changed" style='width:100%,color:#ff00ff'>
	</div>
	<div class="col-1">
			<a class="btn btn-primary text-light" data-tab-value="#tab_1">ادیتور</a>	
	</div>
	<div class="col-1">
			<a class="btn btn-info text-light" data-tab-value="#tab_2">تغییرات</a>
	</div>
	<div class="col-1">
			<a class="btn btn-dark text-light" data-tab-value="#tab_3">متن</a>
	</div>
</div>
 
<!-- Tab content -->
<div class="tab-content" style="height:700px;" >
	<div class="tabs__tab active"  style="height:700px;" id="tab_1"  data-tab-info>
		<!-- =bdy -->
        <textarea name='file_txt' id='file_txt' rows='50' style='direction:{dir_x};width:100%;height:700px' onclick='textarea_top.value=file_txt.scrollTop;' 
                onchange="text_changed();" scrollTop="{request.vars['textarea_top']}">{{=data}}</textarea>
	</div>
	<div class="tabs__tab" id="tab_2" data-tab-info>
		{{=cmp}}
	</div>
	<div class="tabs__tab" id="tab_3" data-tab-info>
		{{=txt}}
	</div>
</div>

</form>
<script type="text/javascript">
   
	// function to get each tab_page details
	const tabs = document.querySelectorAll('[data-tab-value]')
	const tabInfos = document.querySelectorAll('[data-tab-info]')

	tabs.forEach(tab => {
		tab.addEventListener('click', () => {
			const target = document
				.querySelector(tab.dataset.tabValue);
			tabInfos.forEach(tabInfo => {
				tabInfo.classList.remove('active')
			})
			target.classList.add('active');
		})
	})
</script>
	

<script>
	// 021215 - ks - tabmanger
	// function to manage tab key press action on textarea 
	//		print "/t" instead of goto next element 
	let textarea = document.getElementById("file_txt");
	textarea.addEventListener("keydown", (e) => {
		if (e.key == 'Tab') {
			event.preventDefault(); // stops its action
			var start = textarea.selectionStart;
			var end = textarea.selectionEnd;
			// set textarea value to: text before caret + tab + text after caret
			textarea.value = textarea.value.substring(0, start) +
			"\t" + textarea.value.substring(end);
			// put caret at right position again
			textarea.selectionStart =
			  textarea.selectionEnd = start + 1;
		}
	});
	
	// textarea change
	//تغییرات فقط به بخش انتخاب شده اعمال شود
	function modifySelection() {
		const textarea = document.getElementById('file_txt');
		const start = textarea.selectionStart;
		const end = textarea.selectionEnd;

		if (start === end) {
			alert("لطفاً بخشی از متن را انتخاب کنید.");
			return;
		}

		const before = textarea.value.substring(0, start);
		const selected = textarea.value.substring(start, end);
		const after = textarea.value.substring(end);

		const modified = selected.toUpperCase();  // یا هر تغییری
		const m2=selected.replace(/\n/, '\n ++');
		let result = selected.search(/\n/);
		alert(selected);
		alert(result);
		alert(m2);
		/*
		textarea.value = before + modified + after;

		// حفظ ناحیه انتخاب شده
		textarea.selectionStart = start;
		textarea.selectionEnd = start + modified.length;
		*/
	}
</script>









                
