<!-- 
{{extend 'layout_sd.html'}}
<meta name="viewport" content="width=device-width, initial-scale=1">


   
    




{{=scr}}
<form action="#" enctype="multipart/form-data" method="post">
<div  class="row">
	<div class="col">
		{{=mnu}}
	</div>
	<div class="col">
		{{=btn}}
	</div>
	<div class="col">
		<a class="btn btn-primary" data-toggle="tab" href="#Collapse1" role="button" >ادیتور</a>
	</div>
	<div class="col">
		<button class="btn btn-primary" type="button" data-toggle="tab" data-target="#Collapse2" >تغییرات</button>
	</div>
	<div class="col">
		<button class="btn btn-primary" type="button" data-toggle="tab" data-target="#Collapse3" >متن</button>
	</div>
</div>


<DIV id="Collapse1" height="100%">{{=bdy}}</DIV>
</form>
<div id="Collapse2"> {{=cmp}} </div>
<div id="Collapse3"> {{=txt}} </div>
-->







                
